body {
    background-image: url(https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
}

.container {
    background-image: linear-gradient(120deg, #9ff8c0 0%, #8fd3f4 100%);
    opacity: 0.7;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 30px;
    min-width: 320px;
    max-width: 700px;
    margin: 7px auto;
    font-weight: bold;
}

.btn {
    position: relative;
    top: -1.5px;
    left: 0;
}

#fer,
#cel {
    padding: 3px 5px 3px 3px;
    position: relative;
    right: 0;
    left: 10px;
}

#fer:hover,
#cel:hover {
    background: white;
    color: teal;
}

#coded {
    margin-bottom: 10px;
    margin-left: 5px;
}

a#github {
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
}

.fa-linkedin {
    font-size: 18px;
    position: relative;
    top: 2px;
}

#place {
    text-transform: uppercase;
}

form {
    position: relative;
    margin-top: 20px;
}

input {
    padding-bottom: 3px;
    padding-left: 5px;
    margin: 10px;
}

h5 {
    text-transform: uppercase;
}

.card {
    display: block;
    position: relative;
    background: transparent;
    border: 1px solid teal;
    border-radius: 20px;
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    margin: 0 auto 10px auto;
}

#today-card {
    font-size: 15px;
}

#first-row {
    position: relative;
    margin: 0 auto;
}

#second-row {
    position: relative;
    margin: 0 auto;
}

img {
    width: 40px;
}

#left {
    width: 50px;
}

#wind-icon {
    width: 25px;
}

#search-button {
    color: black;
}

#search-button a {
    font-size: 15px;
    color: black;
}

#today-temp {
    font-size: 20px;
}

p {
    font-size: 15px;
    margin: 0 auto;
}

#next {
    font-size: 20px;
    margin: 0 auto 20px 20px;
    text-align: center;
    line-height: 5px;
}